<footer class="text-center py-3 bg-white border-top mt-auto">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center px-4">
            <div class="col-12 text-center">
                <div class="d-flex flex-column align-items-center">
                    <div class="fw-bold mb-1 text-secondary" style="font-size: 0.75rem;">
                        <span class="fw-extrabold">PATRIOT</span> <span class="mx-1">-</span> Pantau Aktivitas Terintegrasi Online & Terukur
                    </div>
                    <div class="text-muted opacity-50 border-top pt-1 d-inline-block px-3" style="font-size: 0.65rem; border-top-style: dashed !important;">
                        &copy; {% now "Y" %} <span class="mx-1">•</span> v1.0 <span class="ms-1">• Dev by John</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .hover-opacity-100:hover { opacity: 1 !important; }
    .transition { transition: all 0.3s ease; }
</style>