<footer>
    <div class="container text-center">
        <h4 class="gold-gradient-text mb-4">PATRIOT</h4>
        <p class="text-secondary mb-4">Transformasi Digital Koordinasi Media Online - Jawa Barat</p>
        <div class="social-links mb-4">
            <a href="#" class="text-secondary mx-2"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="#" class="text-secondary mx-2"><i class="fab fa-tiktok fa-lg"></i></a>
            <a href="#" class="text-secondary mx-2"><i class="fab fa-facebook fa-lg"></i></a>
        </div>
        <hr class="opacity-10 mb-4">
        <p class="small text-secondary">&copy; 2026 PATRIOT System. All Rights Reserved.</p>
    </div>
</footer>